@layer theme, base, mantine, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-body: "Inter", system-ui, sans-serif;
  --font-heading: "Noto Serif", Georgia, serif;
  --color-gm-green: #2D864E;
  --color-gm-bone: #F8F8F8;
  --color-gm-dark-green: #717c4d;
}
